
.chat-screen-content {
  background: #6db3f2;
background: -moz-linear-gradient(45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
background: -webkit-linear-gradient(45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
background: linear-gradient(45deg, #a0f26d 0%, #54a3ee 50%, #3690f0 51%, #c01ede 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    .header {
      background-color: #448aff;
      color: #fff;
      display: flex;
      font-size: 20px;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      height: 70px;
    }
    .messages {
      flex: 1;
      padding: 15px;
      overflow-y: auto;
      font-size: 20px;
    }
    .input-container {
      display:flex;
      .input-msg {
        border: solid 2px #999;
        font-size: 26px;
        padding: 0 15px;
        flex-grow: 1;
        height: 70px;
      }
      .send-btn {
        display: flex; justify-content: center; align-items: center; flex-grow: 1;

        i.ion-ios-paperplane-outline {
        font-size: 50px;
        color: #fff;
      }

      &:hover {
        i.ion-ios-paperplane-outline {
          color: #000;
          transform: scale(1.5);
        }
      }
      }
    }
}

.right {
  flex-flow: row-reverse;
  text-align: right;
}

.left {
  flex-flow: row;
  text-align: left;
}

.msg-div {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 0;
  font-size: 24px;
  display: flex;
}

.name {
  font-size: 15px;
  color: #bcb7b7;
}

.msg {
  word-wrap: break-word;
}

.profile-img {
  height: 50px;
  width: auto;
  border-radius: 50px;
}

.date {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #bcb7b7;
}

.cool-scroll-bar-17::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.cool-scroll-bar-17::-webkit-scrollbar{
	width: 6px;
	background-color: rgba(0, 0, 0, 0);
}

.cool-scroll-bar-17::-webkit-scrollbar-thumb{
	background-color: rgba(158, 217, 255, 0.52);
  border-radius: 10px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  z-index: -1;
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #fff transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #fff #fff transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent #fff;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: #fff transparent transparent #fff;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: #fff #fff transparent transparent;
}

.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: #fff #fff transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #fff transparent transparent #fff;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
  z-index: -1;
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: #fff transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* CSS talk bubble */
.talk-bubble {
  z-index: 10;
	margin: 0px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: #fff;
}
